<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>


  <connectionStrings>
    <add name="dmaj0914_2Sem_4ConnectionString" connectionString="Data Source=ASUS\SQLEXPRESS;Initial Catalog=Eflats;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="EflatsConnectionString" connectionString="Data Source=ASUS\SQLEXPRESS;Initial Catalog=Eflats;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EFlats_v2ConnectionString" connectionString="Data Source=ASUS\SQLEXPRESS;Initial Catalog=EFlats_v2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  
          <sessionState timeout="30" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfEFlatsService" />
        <binding name="BasicHttpBinding_IGoogleMapsGeolocation" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWcfEFlatsServiceAdmin" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWcfEFlatsService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:21792/Service/GoogleMapsGeolocation.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGoogleMapsGeolocation"
        contract="ServiceReference2.IGoogleMapsGeolocation" name="BasicHttpBinding_IGoogleMapsGeolocation" />
      <endpoint address="http://localhost:8080/WcfEFlatsService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IWcfEFlatsService" contract="ServiceReference1.IWcfEFlatsService"
        name="WSHttpBinding_IWcfEFlatsService">
        <identity>
          <userPrincipalName value="ASUS\Ieva" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/WcfEFlatsService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWcfEFlatsServiceAdmin"
        contract="ServiceReference1.IWcfEFlatsServiceAdmin" name="NetTcpBinding_IWcfEFlatsServiceAdmin">
        <identity>
          <userPrincipalName value="ASUS\Ieva" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>