<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="dmaj0914_2Sem_4ConnectionString" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaj0914_2Sem_4;Persist Security Info=True;User ID=dmaj0914_2Sem_4;Password=IsAllowed"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
   <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>


   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="BasicHttpBinding_IWcfEFlatsService" />
         </basicHttpBinding>
      </bindings>
      <client>
         <endpoint address="http://localhost:8080/WcfEFlatsService" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IWcfEFlatsService" contract="WcfEFlatsServiceReference.IWcfEFlatsService"
            name="BasicHttpBinding_IWcfEFlatsService" />
      </client>
   </system.serviceModel>
</configuration>
